/* Add application styles & imports to this file! */

body {
  font-family: 'RobotoRegular', Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

my-app {
  display: block;
  box-sizing: border-box;
  max-height: 100vh;
  min-height: 100vh !important;
  height: 100% !important;
  padding: 30px;
  background: rgb(0, 93, 157);
  background: linear-gradient(
    180deg,
    rgba(0, 93, 157, 1) 0%,
    rgba(54, 140, 213, 1) 100%
  );
}

my-app > .k-icon.k-i-loading {
  font-size: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example-wrapper {
  min-height: 280px;
  align-content: flex-start;
}

.example-wrapper p,
.example-col p {
  margin: 0 0 10px;
}

.example-wrapper p:first-child,
.example-col p:first-child {
  margin-top: 0;
}

.example-col {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  padding-bottom: 20px;
}

.example-config {
  margin: 0 0 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.event-log {
  margin: 0;
  padding: 0;
  max-height: 100px;
  overflow-y: auto;
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.event-log li {
  margin: 0;
  padding: 0.3em;
  line-height: 1.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.event-log li:last-child {
  margin-bottom: -1px;
}

.flex-grid-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.primary-icon {
  color: #3f51b5 !important;
  background-color: transparent !important;
  border: none !important;
}

.link {
  color: #00f !important;
  cursor: pointer;
}

.mat-icon-button {
  &,
  &:focus,
  &:hover,
  &:active {
    background-color: transparent !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
}

.mat-form-field-grid {
  width: 100%;
  min-width: 100%;
  max-width: 400px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.tab-container {
  padding: 5px;
  height: calc(100vh - 185px);
  overflow: auto;
  background: #efefef;
  border-radius: 5px;
  min-height: 200px;
}
.sub-title {
  display: inline;
  font-size: 15pt;
  margin-bottom: 10px;
  margin-top: 10px;
  // font-weight: 300;
  letter-spacing: unset !important;
  font-weight: bold;
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}

.expend-button {
  float: right;
}

.head-buttons {
  display: inline;
  font-size: 15pt;
  margin-bottom: 10px;
  margin-top: 10px;
  float: right;
  letter-spacing: unset !important;
  font-weight: bold;
}

.flex-containerV {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.flex-itemV:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: flex-end;
  width: 100%;
}

.flex-itemV:nth-child(2) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.flex-itemV:nth-child(3) {
  order: 0;
  flex: 0 1 auto;
  align-self: flex-start;
}

.flex-containerH {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 100vw;
}

.flex-itemH:nth-child(3) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.form-group-painel {
  &.mat-accordion {
    .mat-expansion-panel {
      margin-bottom: 0.5rem;
      &.mat-expanded {
        margin-bottom: inherit;
      }
    }
  }
}

.sessionTop {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.formItemRight {
  padding-right: 1rem;
}
